.info{
    margin: 4% 0;
    text-align: center;
}

.info p{
    padding-top: 4px;
}

section{
    width: 100%;
    max-width: 60vw;
}

.part{
    padding: 12px 0;
}

.part p{
    font-family: monospace;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    section{
        width: 100%;
        max-width: 80vw;
    }

    .info{
        margin: 12% 0;
        text-align: center;
    }
}