:root {
    --bg-color: #fff;
    --box-color: #f4f5ff;
    --border-color: rgba(50, 50, 50, 0.4);
    --font-color: #424242;

    --heading-color: #393e41;
    --heading-font-color: #f4f5ff;
    --hover-color: rgba(50, 50, 50, 0.8);

    --primary-color: #3eb489;
    --secondary-color: #607999;
    --text-shadow: none;
}

[data-theme="dark"] {
    --bg-color: #393e41;
    --box-color: #454b4f;
    --border-color: rgba(244, 245, 255, 0.4);
    --font-color: #fff;

    --heading-color: #fff;
    --heading-font-color: #424242;
    --hover-color: #f4f5ff;

    --primary-color: #3eb489;
    --secondary-color: #ccfbe5;
    --text-shadow: black 0px 1px 2px; 
}

::-moz-selection {
    color: white;
    background: var(--primary-color);
    text-shadow: black 0px 1px 2px;
}
  
::selection {
    color: white;
    background: var(--primary-color);
    text-shadow: black 0px 1px 2px;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: Verdana, Tahoma, sans-serif;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    background-color: var(--bg-color);
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}

footer {
    font-size: 12px;
    padding: 4% 0;
  
    text-shadow: var(--text-shadow);
}
  
footer a {
    font-family: monospace;
}
  
footer p {
    color: var(--font-color);
    font-family: monospace;
    text-align: center;
}