:root {
    --bg-color: #fff;
    --box-color: #f4f5ff;
    --border-color: rgba(50, 50, 50, 0.4);
    --font-color: #424242;

    --heading-color: #393e41;
    --heading-font-color: #f4f5ff;
    --hover-color: rgba(50, 50, 50, 0.8);

    --primary-color: #e55934;
    --secondary-color: #955100;
}

[data-theme="dark"] {
    --bg-color: #393e41;
    --box-color: #454b4f;
    --border-color: rgba(244, 245, 255, 0.4);
    --font-color: #fff;

    --heading-color: #fff;
    --heading-font-color: #424242;
    --hover-color: #f4f5ff;

    --primary-color: #fa7921;
    --secondary-color: #fdcf99;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: Verdana, Tahoma, sans-serif;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--font-color);

    display: flex;
    flex-direction: column;
}

footer {
    padding: 40px;
}
  
footer p {
    color: var(--font-color);
    text-align: center;
}