.container{
    width: 100%;
    max-width: 960px;
}

h2{
    background: linear-gradient(to right, var(--primary-color), var(--bg-color));
    border-radius: 6px;

    padding: 4px 8px;
}

article{
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    margin: 12px 0;
}

article:hover{
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

article div{
    padding: 10px;
}

article div a{
    font-weight: 600;
    font-size: 18px;
}

article div p{
    color: var(--font-color);
}

@media screen and (max-width: 960px) {
    .container{
        max-width: 760px;
    }
}

@media screen and (max-width: 540px) {
    .container{
        max-width: 480px;
    }
}

@media screen and (max-width: 420px) {
    .container{
        max-width: 320px;
    }
}