pre{
    background: var(--bg-color);
    border-left: 4px solid var(--primary-color);
    border-radius: 6px;

    padding: 0 24px;
}

code{
    font-family: monospace;
    font-size: 12px;
}

.container{
    width: 100%;
    max-width: 960px;
}

.post-info{
    align-items: center;

    display: flex;
    flex-direction: column;

    margin: 20px 0;
}

.post-name{
    text-align: center;
}

.post-date{
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    color: var(--font-color);
    font-size: 14px;

    padding: 8px;
    margin: 12px 0 24px 0; 
}

.post-content{
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    display: flex;
    flex-direction: column;

    padding: 12px 14px;
}

.post-content h1{
    color: var(--primary-color);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.post-content h2{
    color: var(--primary-color);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;

    font-size: 16px;
}

.imgContainer{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.imgContainer .img{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    height: auto;
    max-width: 780px;
}

.imgContainer p{
    align-self: center;
    font-size: 12px;
    padding-top: 10px;
}

.imgContainer .img:hover{
    cursor: pointer;
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.comparison{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.comparison img{
    border: 1px solid var(--border-color);
    border-radius: 10px;

    height: auto;
    max-width: 780px;
}

.popup-pic{
    background: rgba(0, 0, 0, 0.6);

    display: none;
    position: fixed;
    
    left: 0;
    top: 0;

    height: 100vh;
    width: 100vw;

    z-index: 1;
}

.popup-pic span{
    color: #fff;
    cursor: pointer;

    font-size: 40px;
    font-weight: bolder;

    position: absolute;
    right: 10px;
    top: 0;
    
    z-index: inherit;
}

.popup-pic img{
    border: 4px solid #fff;
    border-radius: 10px;

    object-fit: cover;
    position: absolute;

    left: 50%;
    top: 50%;

    height: auto;
    min-width: 640px;
    max-width: 1280px;

    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1200px){
    .logo{
        display: none;
    }

    .imgContainer img{
        max-width: 756px;
    }

    .comparison img{
        max-width: 756px;
    }

    .popup-pic img{
        min-width: 480px;
        max-width: 800px;
    }
}

@media screen and (max-width: 960px) {
    .container{
        max-width: 760px;
    }
}

@media screen and (max-width: 600px){
    .logo{
        display: none;
    }

    .container{
        max-width: 480px;
    }

    .imgContainer img{
        max-width: 360px;
    }

    .comparison img{
        max-width: 360px;
    }

    .popup-pic img{
        min-width: 128px;
        max-width: 256px;
    }
}

@media screen and (max-width: 480px){
    .logo{
        display: none;
    }

    .container{
        max-width: 320px;
    }

    .imgContainer img{
        max-width: 300px;
    }

    .comparison img{
        max-width: 300px;
    }

    .popup-pic img{
        min-width: 128px;
        max-width: 320px;
    }
}

@media screen and (max-width: 360px){
    .logo{
        display: none;
    }
    
    .imgContainer img{
        max-width: 220px;
    }

    .comparison img{
        max-width: 220px;
    }

    .popup-pic img{
        min-width: 128px;
        max-width: 256px;
    }
}