* {
  box-sizing: border-box;
  font-family: sans-serif;

  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #fff;
  --box-color: #f4f5ff;
  --border-color: rgba(50, 50, 50, 0.4);
  --font-color: #424242;

  --heading-color: rgb(40, 40, 40);
  --heading-font-color: #fff;

  --primary-color: #e07a00;
  --secondary-color: #955100;
}

[data-theme="dark"] {
  --bg-color: #393e41;
  --box-color: #454b4f;
  --border-color: rgba(244, 245, 255, 0.4);
  --font-color: #fff;

  --heading-color: #fff;
  --heading-font-color: #424242;

  --primary-color: #fa7921;
  --secondary-color: #fdcf99;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
  transition: background 0.2s linear;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
}

/*=================================*/
/*==============Footer=============*/
/*=================================*/

footer {
  padding: 40px;
}

footer p {
  color: var(--font-color);
  font-size: 14px;
  text-align: center;
}
